{% extends 'base.html' %}
{% block title  %}
  About
{% endblock title  %}
{% block body %}
  <div class="container">
    <h1 class="my-4 text-success  text-center">About Us </h1>
  </div>
  <div class="container my-4 px-0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          
        <img src="/static/29.jpg" width="425" height="220" 
        alt="...">
          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Transport System </h4>
              <p class="card-text">
              You can Choose any types of cars,for travel any places or any  corner of state,country and continents.
              </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/20.jpg" 
          width="425" height="225"  alt="...">
          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Hotel Facility </h4>
            <p class="card-text">
              You can Choose any types of hotels,resorts,bunglow or homestay at  any  corner of state,country and continents.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/21__.jpg" 
          width="425" height="225"   alt="...">
          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Travel Planner</h4>
            <p class="card-text">
              You Choose your spot we serve the full plan of your tour .
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/23.jpg" 
          width="425" height="225" alt="...">

          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Our Services </h4>
            <p class="card-text">
              We Serve our services around your city,around any state,any country and a full continents.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/24.jpg" 
          width="425" height="225"  alt="...">

          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Train Ticket Booking</h4>
            <p class="card-text">
              You can choose us for book your tickets in any corners of  the country at fair price.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/25.jpg" 
          width="425" height="225"  alt="...">

          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Airlines Services </h4>
            <p class="card-text">
              You can choose us for book your domestic and international tickets at fair price.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/26.jpg" 
          width="425" height="225"  alt="...">

          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Around City Services</h4>
            <p class="card-text">
              We can also server our services around any Restaurants,Malls,Bar,Movie Theatres at any time.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/27.jpg" 
          width="425" height="225"  alt="...">

          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Our Offers</h4>
            <p class="card-text">
              If you choose for the first time we give off 30% on your total expenditure Only for First Booking.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/30.jpg" 
          width="425" height="170"  alt="...">

          <div class="card-body">
            <h4 class="fw-bold text-center text-dark">Contact </h4>
            <p>Name:-POULOMI CHOWDHURY</p>
            <p>Email:-chowdhurypoulomi7@gmail.com</p>
            <p>Phone:-6290143203</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
