{% extends 'base.html' %}
{% block title  %}
  Around State Services
{% endblock title  %}
{% block body %}
<div class="container-fluid px-0">
  <img src="/static/14__.jpg" 
  width="1899" height="600"  alt="...">
  <div class="container">
    <h1 class="my-4 text-success  text-center">Basic Services of our Company Around State</h1>
    <h5 class="fw-semibold text-light ">1.  Accommodations:- For example, Taj, ITC Hotels.</h5>
    <h5 class="fw-semibold text-light">2. Retail Travel Agents</h5>
   <h5 class="fw-semibold text-light">3. Tour Operators</h5>
    <h5 class="fw-semibold text-light ">4.  Tourism Information Centers.</h5>
    <h5 class="fw-semibold text-light ">5. Transportation; For example, Owning taxis, luxury buses, and boats.</h5>
    <h5 class="fw-semibold text-light ">6. Shopping Centers such as malls</h5>
    <h5 class="fw-semibold text-light ">7. Cinema Theatres such as PVR</h5>
    <h5 class="fw-semibold text-light ">8. Restaurants for Food and Beverages</h5>
    <h5 class="fw-semibold text-light ">9. Souvenirs Outlets</h5>
    <h5 class="fw-semibold text-light ">10. Museums, Temples, Gardens, and Theme parks</h5>
    
  </div>
</div>
{% endblock body %}